@model OnSearch.Web.Entities.Company

@{
    ViewData["Title"] = "Index";
}


<hr />

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="well">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <button onclick="deleteItem(this)" type="button" data-assigned-id="@Model.Id" class="btn btn-danger glyphicon glyphicon-trash" title="Eliminar Registro"></button>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function () {

    });
    var id = "";
    function deleteItem(elem) {
        id = $(elem).data('assigned-id');
        //alert(id);
        $("#deleteDialog").modal('show');
    }
    $("#btnNoDelete").click(function () {
        $("#deleteDialog").modal('hide');
        return false;
    });
    $("#btnYesDelete").click(function () {
        window.location.href = '/Companies/Delete/' + id;
    });
    </script>

}
